input {
    padding: 5px;
    margin: 10px 0px;
}

.errorMessageSpan {
    color: hsl(0, 100%, 50%);
    font-size: 12px;
    padding: 2px;
    display: none;
}

.inputField:invalid[focused='true'] {
    border: 1px solid red;
}

.inputField:invalid[focused='true']~span {
    display: block;
}