input {
    padding: 5px;
    margin: 10px 0px;
}
span {
    color: red;
    font-size: 12px;
    padding: 2px;
    display: none;
}

input:invalid[focused='true'] {
    border: 1px solid red;
}

input:invalid[focused='true'] ~ span {
    display: block;
}