nav {
  margin: 10px 0 0 0;
  width: 100%;
  zoom: 0.8;
  height: 100%;
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid black;
  min-width: 900px;
  background-color: white;
  justify-content: space-between;
  /* use for box shadow insetting */

  /*box-shadow: 11px 14px 5px 0px grey,
    inset 0px 20px 7px 0px grey;*/
}

nav ul a {
  text-decoration: none;
  float: right;
  color: black;
  flex: 1;
  padding: 20px;
  border-bottom: 3px solid white;
}

nav ul :hover {
  background-color: rgb(246, 246, 246);
}

nav ul a:hover {
  border-bottom: 5px solid aqua;
}

nav ul a.current {
  border-bottom: 5px solid aqua;
}


.App-logo {
  justify-self: center;
  display: flex;
  height: 80px;
  max-width: 90px;
  cursor: pointer;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}