.gm-style-iw.gm-style-iw-c {
    background-color: transparent !important;
    box-shadow: none !important;
}

.gm-style-iw-d {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-right: none !important;
    padding-bottom: none !important;

}

.gm-ui-hover-effect {
    display: none !important;
}

.gm-style-iw-tc {
    display: none !important;
}