.gm-style-iw.gm-style-iw-c {
    background-color: transparent !important;
    box-shadow: none !important;
}

.gm-style-iw-d {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: hidden !important;

}

.gm-ui-hover-effect {
    display: none !important;
}

.gm-style-iw-d  {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.nested-card  {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.gm-style-iw-d::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.nested-card::-webkit-scrollbar {
    display: none;
}

