@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: Poppins;
}

.App {
  background-color: white;
  height: 100vh;
  zoom: 0.8;
  justify-items: center;
}


.App-header {
  display: flex;
}

.Listings {
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.map {
  height: 900px;
  border: 2px solid black;

}

.login {
  width: 70%;
  height: 100%;
  border: 2px solid black;
  float: right;
  justify-content: center;
  align-items: center;
}

label {
width: 100%;
display: flex;
flex-flow: row wrap;
}

.username,
.password, .submit {
  margin: 9px;
  display: flex;
  min-width: 300px;
}
.username {
  flex-basis: 120px;
  flex-grow: 3;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
}

.password {
  flex-basis: 120px;
  flex-grow: 1;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
}

.submit {
  flex-basis: 50px;
  flex-grow: 1;
  justify-content: center;
  font-weight: bold;
  border-radius: 30px;
}