h2,
h5 {
    margin: 12px;
}


p {
    font-weight: lighter;
    font-size: small;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
}

.info {
    margin-top: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.uploadPicContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
}


.uploadPic {
    border: 0px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    width: 50%;
    border: 1px solid black;
    min-width: 70%;
}

.uploadButton {
    display: none;
}


.section {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgrey;
}

#multiline {
    margin: 8px;
    width: 97%;
}

.form {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.continueButton {
    margin: 20px;
    display: flex;
    justify-content: center;
}