.buttonWrapperStyles {
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.disclaimerContainer {
  display: flex;
  justify-content: center;
}

#disclaimer {
  width: 80%;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.socials>* {
  cursor: pointer;
}

.socials {
  display: flex;
  padding: 5px;
  justify-content: center;
  flex-flow: column nowrap;
}

#partnerButton {
  margin: 10px 20px 10px 20px;
  display: flex;
  border: 1px solid lightgrey;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

#partnerButton div {
  /* Used to make tech company logos positioned in a straight column despite varying lengths of text*/
  padding: 3px 20px 3px 20px;
  width: 320px;
  display: flex;
  justify-content: center;
}


.App-logo {
  display: flex;
  height: 80px;
  max-width: 90px;
  cursor: pointer;
}