.uploadFileContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 20px;
}


.uploadFile {
  border: 0px;
  border-radius: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: 1px solid black;
  min-width: 70%;
}


.uploadButton {
  display: none;
}

#line {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#multiline {
  display: flex;
  justify-content: center;
  margin: 3px;
  width: 99%;
}

.continueButton {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* displays outer and inner spin buttons for number inputs*/ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
